<h3>Interface Form</h3>

<div ng-controller="interfacecontroller">
  

<!--    
    <form name="userFormTwo" novalidate>
    
        <div class="form-group" ng-repeat="user in formDataTwo.users" ng-class="{ 'has-error' : userFieldForm.email.$invalid }">
          
        <ng-form name="userFieldForm">
            <label>{{ user.name }}'s Email</label>
            <input type="email" class="form-control" name="email" ng-model="user.email" required>
 
        </ng-form>
          
        </div>
        
    </form>
    
    <pre><code>
      {{ formDataTwo }}
    </code></pre>-->
      

 

 <!--<td> <button ng-click="edit(property)" data-dismiss="modal">Modify</button></td>-->


<form>
     <br>
    <label>Field Name</label>
            <input type="text" name="FirstName" ng-model="name"><br><br>
   <label>Field  Type</label>
   <select ng-model="type"> 
       <option value="checkbox">Checkbox</option>
    <option value="radios">Radios</option>
    <option value="select">Dropdown</option>
    <option value="text">TextBox</option>
    
   </select> </br>
   
        <label>My Options</label>
            <input type="text" name="FirstName" ng-model="Options"><br><br>
            
             <button type="submit" ng-click="edit()" >add field</button>
        <button type="submit" ng-click="update(model)" >Update </button>
       
      
    </form>

<br>    <br>    

   <table class="table table-hover table-striped table-bordered">

<tr ng-repeat="formfield in form">
        <td>
             {{formfield.key}}
        </td>
        <td><button type="button" ng-click="editField(formfield)">Edit Field</button>
       <button type="button" ng-click="update(formfield)">Update Form</button></td>
        <td><button type="button" data-ng-click="deleteField(formfield)">Delete Field</button></td>
        <td><a href="" class="shiftUp" ng-click="shiftUp(formfield)"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="" class="shiftDown" ng-click="shiftDown(formfield)"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
    </tr>

    <tbody> 
        
<tr>  </tr>
           <!--<td><button ng-click="edit(detail)" data-dismiss="modal">Edit</button></td>   
               <td><button ng-click="reorder(detail)" >Re-Order</button></td>
<td><button ng-click="delete(detail)" >Delete</button></td>-->
</tbody>

        </td>
        </table>

